* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0d0d15;
  color: white;
  line-height: 1.6;
  overflow-y: auto;
}

.hero {
  background: url("../assets/moonbot-main.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  backdrop-filter: blur(6px);
  position: relative;
}

.lang-switch {
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 1000;
}

#langBtn {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
}

#langBtn:hover {
  transform: scale(1.1);
  border-color: #aabaff;
  box-shadow: 0 0 10px rgba(170, 186, 255, 0.5);
}

#flag {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
}

h1 {
  font-size: 3.5rem;
  color: #aabaff;
}

.subtitle {
  font-size: 1.3rem;
  color: #b8c4ff;
  margin-bottom: 15px;
}

.description {
  font-size: 1rem;
  color: #e0e0e0;
}

.main {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.about,
.features,
.cta {
  margin-bottom: 60px;
}

.about h2,
.features h2,
.cta h2 {
  text-align: center;
  color: #cdd4ff;
  margin-bottom: 20px;
  font-size: 2rem;
}

.about p {
  text-align: center;
  color: #d3d3d3;
  font-size: 1.1rem;
}

.features ul {
  list-style: none;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 15px;
}

.features li {
  margin: 12px 0;
  font-size: 1.1rem;
}

.cta {
  text-align: center;
}

.cta p {
  margin-bottom: 25px;
  color: #ccccff;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, #7a5fff, #01cdfe);
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
}

.bot-number {
  background: linear-gradient(45deg, #0d470b, #57ff6e);
}

.channel {
  background: linear-gradient(45deg, #306d2a, #c1ffae);
}

footer {
  background: rgba(20, 20, 30, 0.9);
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  color: #aabaff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#footer a {
  color: #aabaff;
  /* mismo color del tema */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#footer a:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #aabaff;
}
